## UN Trade Data Analysis and Vizualization Project

In [156]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [157]:
df = pd.read_csv("UNTradeData.csv")
df.head(5)

,Country or Area,Year,Commodity,Flow,Trade (USD),Weight (kg),Quantity Name,Quantity
0,Afghanistan,2018,ALL COMMODITIES,Import,7.406590e+09,NaN,No Quantity,0.0
1,Afghanistan,2018,ALL COMMODITIES,Export,8.845045e+08,0.0,No Quantity,0.0
2,Afghanistan,2018,ALL COMMODITIES,Re-Export,9.263097e+06,0.0,No Quantity,0.0
3,Afghanistan,2016,ALL COMMODITIES,Import,6.534140e+09,NaN,No Quantity,NaN
4,Afghanistan,2016,ALL COMMODITIES,Export,5.964553e+08,NaN,No Quantity,NaN

In [158]:
df.describe()

               Year   Trade (USD)  Weight (kg)  Quantity
count  10144.000000  1.014400e+04        983.0    1437.0
mean    2006.084878  6.693166e+10          0.0       0.0
std        7.453004  2.112641e+11          0.0       0.0
min     1988.000000  2.000000e+00          0.0       0.0
25%     2000.000000  4.379713e+08          0.0       0.0
50%     2007.000000  4.022039e+09          0.0       0.0
75%     2012.000000  3.381102e+10          0.0       0.0
max     2019.000000  2.611432e+12          0.0       0.0

Drop weight, quantity, and quantity name columns since they are not needed

In [159]:
df = df.drop(['Weight (kg)', 'Quantity', 'Quantity Name', 'Commodity'], axis='columns')
df.head(5)

  Country or Area  Year       Flow   Trade (USD)
0     Afghanistan  2018     Import  7.406590e+09
1     Afghanistan  2018     Export  8.845045e+08
2     Afghanistan  2018  Re-Export  9.263097e+06
3     Afghanistan  2016     Import  6.534140e+09
4     Afghanistan  2016     Export  5.964553e+08

Reclassify Re-Export as Exports and Re-imports as Imports to simplify data

In [160]:
print(pd.unique(df['Flow']))
df['Flow'] = np.where(df["Flow"] == "Re-Export", 'Export', df['Flow'])
df['Flow'] = np.where(df["Flow"] == "Re-Import", 'Import', df['Flow'])
print(pd.unique(df['Flow']))

['Import' 'Export' 'Re-Export' 'Re-Import']
['Import' 'Export']

Combine the newly classified imports/exports to the other rows with the import/export classification

In [161]:
print(df.loc[(df['Country or Area'] == 'Afghanistan') 
             & (df['Year'] == 2018)])

df = df.groupby(['Country or Area', 'Year', 'Flow']).sum().reset_index()

print()
print(df.loc[(df['Country or Area'] == 'Afghanistan') 
             & (df['Year'] == 2018)])

  Country or Area  Year    Flow   Trade (USD)
0     Afghanistan  2018  Import  7.406590e+09
1     Afghanistan  2018  Export  8.845045e+08
2     Afghanistan  2018  Export  9.263097e+06

   Country or Area  Year    Flow   Trade (USD)
18     Afghanistan  2018  Export  8.937676e+08
19     Afghanistan  2018  Import  7.406590e+09

Put the import and export values for each year into its own columns

In [162]:
df['Export (USD)'] = np.where(df['Flow'] == 'Export', df['Trade (USD)'], 0)
df['Import (USD)'] = np.where(df['Flow'] == 'Import', df['Trade (USD)'], 0)
df = df.groupby(['Country or Area', 'Year']).sum().reset_index()
df = df.drop(['Trade (USD)'], axis=1)
df.head()

  Country or Area  Year  Export (USD)  Import (USD)
0     Afghanistan  2008   540065594.0  3.019860e+09
1     Afghanistan  2009   403441006.0  3.336435e+09
2     Afghanistan  2010   388483635.0  5.154250e+09
3     Afghanistan  2011   375850935.0  6.390311e+09
4     Afghanistan  2012   428902710.0  6.204984e+09

   Country or Area  Year  Export (USD)  Import (USD)
0      Afghanistan  2008  5.400656e+08  3.019860e+09
1      Afghanistan  2009  4.034410e+08  3.336435e+09
2      Afghanistan  2010  3.884836e+08  5.154250e+09
3      Afghanistan  2011  3.758509e+08  6.390311e+09
4      Afghanistan  2012  4.289027e+08  6.204984e+09
5      Afghanistan  2013  5.149730e+08  8.554414e+09
6      Afghanistan  2014  5.705340e+08  7.697178e+09
7      Afghanistan  2015  5.714050e+08  7.722865e+09
8      Afghanistan  2016  5.964553e+08  6.534140e+09
9      Afghanistan  2018  8.937676e+08  7.406590e+09
10         Albania  1996  2.111404e+08  9.384818e+08
11         Albania  1997  1.376810e+08  6.290263e+08
12         Albania  1998  2.076538e+08  8.412562e+08
13         Albania  1999  3.510978e+08  1.154351e+09
14         Albania  2000  2.614758e+08  1.089468e+09
15         Albania  2001  3.049307e+08  1.330631e+09
16         Albania  2002  3.302415e+08  1.503685e+09
17         Albania  2003  4.472205e+08  1.864336e+09
18         Albania  2004  6.026534e+08  2.300563e+09
19         Albania  2005  1.119917e+09  2.710814e+09
20         Albania  2006  1.346927e+09  3.493228e+09
21         Albania  2007  1.077690e+09  4.205359e+09
22         Albania  2008  2.165790e+09  5.250999e+09
23         Albania  2009  1.087915e+09  4.548560e+09
24         Albania  2010  1.549956e+09  4.602801e+09
25         Albania  2011  1.948207e+09  5.395853e+09
26         Albania  2012  1.967919e+09  4.879830e+09
27         Albania  2013  2.331522e+09  4.880593e+09
28         Albania  2014  2.430724e+09  5.229972e+09
29         Albania  2015  1.929657e+09  4.320219e+09
30         Albania  2016  1.962117e+09  4.669290e+09
31         Albania  2017  2.301341e+09  5.293902e+09
32         Albania  2018  2.875860e+09  5.941287e+09
33         Algeria  1992  1.113680e+10  8.647816e+09
34         Algeria  1993  1.009767e+10  8.785275e+09
35         Algeria  1994  8.593806e+09  9.598674e+09
36         Algeria  1995  9.356680e+09  1.078243e+10
37         Algeria  1996  1.109922e+10  9.105595e+09
38         Algeria  1997  1.389412e+10  8.688356e+09
39         Algeria  1998  9.838588e+09  9.403431e+09
40         Algeria  1999  1.252528e+10  9.161845e+09
41         Algeria  2000  2.203129e+10  9.152077e+09
42         Algeria  2001  1.914762e+10  9.947104e+09
43         Algeria  2002  1.883241e+10  1.201000e+10
44         Algeria  2003  2.465366e+10  1.354543e+10
45         Algeria  2004  3.207679e+10  1.830302e+10
46         Algeria  2005  4.600174e+10  2.035688e+10
47         Algeria  2006  5.461272e+10  2.145585e+10
48         Algeria  2007  6.016316e+10  2.763120e+10
49         Algeria  2008  7.929759e+10  3.947472e+10

In [165]:
df.to_csv('UNTRadeDataProcessed.csv', encoding='utf-8', index=False)